<div class="bg-black w-screen h-screen flex flex-col">
  <nav class="bg-black">
      <div class="container px-6 py-4 mx-auto flex">
          <div class="flex items-center justify-between">
              <div>
                  <img 
                  class="w-48 flex-none"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1920px-Star_Wars_Logo.svg.png">
              </div>
          </div>
          <div class="items-center grow text-center text-4xl my-auto">
              <h1 class="text-white jedyFont">{{ title | titlecase }}</h1>
          </div>
      </div>
  </nav>

  <nav class="shadow bg-gray-900">
    <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300 ">
        <a href="#" class="text-gray-500 transition-colors duration-200 transform dark:text-gray-200 border-b-2 border-yellow-500 mx-1.5 sm:mx-6">home</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-600 transition-colors duration-200 transform hover:border-blue-500 mx-1.5 sm:mx-6">Movies</a>
        <a href="#" class="border-b-2 border-transparent hover:text-gray-600 transition-colors duration-200 transform hover:border-blue-500 mx-1.5 sm:mx-6">Starships</a>
    </div>
</nav>

<section class="bg-black grow text-white">
    <router-outlet></router-outlet>
</section>

</div>